@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

#top { 
    color: pink  
}

img {
    width: 30% !important;
    height: auto;
}

.about {
  background-image: url(../img/back.jpeg);
background-repeat: no-repeat;
  background-size: cover 
}
#Hobbies {
    color: rgb(107, 50, 10)
}

#Skills {
    color:rgb(107, 50, 10)
}

#Family {
    color: rgb(107, 50, 10)
}

img {
    border: 2px solid pink;
    border-radius:20px;
}


div.center >p {
    background-color: brown;
    display: inline-block;
    width: 250px;
}

recipe 

img {
    border: 2px solid pink;
    border-radius:20px; 
}

div.recipe >p { 
    background-color:darkseagreen;
    display: inline-block;
    width: 250px;
}


body.recipe { 
    background-image: url(../img/lime.jpg);
    background-repeat: no-repeat;
    background-size: cover 
}
 


#LIME {
    color:white;
    background-color: peachpuff;
    display: inline-block;
    font-family:"bungee inline";
}

ol li {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;  
  font-size: 1.2em;
  font-variant:small-caps;
}

.p1 {
  font-family: Helvetica;
}


.p2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
}

.p3 {
  font-family: Helvetica;
  font-weight: bold;
}


.p4 {
    display: inline-block;
    font-family: Helvetica;
}


.p5 { 
    font-family: Bevan;
}


h2 { 
    font-family:story script;
    color:darksalmon;
}

table


td{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

tfoot{
    background-color: beige;
}

tfoot td{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: green;
}

thead{
    width: ;
}



thead img{
    width: 90px;;
    height: 90px; ;
}