
#top { 
    color: pink  
}

img {
    width: 30% !important;
    height: auto;
}

.about {
  background-image: url(../img/back.jpeg);
background-repeat: no-repeat;
  background-size: cover 
}
#Hobbies {
    color: rgb(107, 50, 10)
}

#Skills {
    color:rgb(107, 50, 10)
}

#Family {
    color: rgb(107, 50, 10)
}

img {
    border: 2px solid pink;
    border-radius:20px;
}


div.center >p {
    background-color: brown;
    display: inline-block;
    width: 250px;
}

recipe 

div.recipe >p { 
    background-color:darkseagreen;
    display: inline-block;
    width: 250px;
}


body { 
    background-image: url(../img/lime.jpg);
    background-repeat: no-repeat;
    background-size: cover 
}
 

#LIME {
    color:dark chocolate;
    background-color: peachpuff;
    display: inline-block;
    font-family:"Roboto", sans-serif;
}

ol li {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;  
}

.p1 {
  font-family: Helvetica;
}


.p2 {
  font-family: Helvetica;
  font-weight: bold;
}

.p3 {
  font-family: Helvetica;
  font-weight: bold;
}


.p4 {
    background-color: peachpuff;
}


.div2 { 
   @font-face {
    font-family:"Roboto", sans-serif ;
    src: url();
   }
    }

